In [7]:
import pandas as pd
import numpy as np
import pickle
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("iris.data")

In [4]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [12]:
le = LabelEncoder()

In [11]:
y = df["Iris-setosa"]
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
144    Iris-virginica
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
Name: Iris-setosa, Length: 149, dtype: object

In [13]:
df['target'] = le.fit_transform(y)

In [15]:
df.tail()

     5.1  3.5  1.4  0.2     Iris-setosa  target
144  6.7  3.0  5.2  2.3  Iris-virginica       2
145  6.3  2.5  5.0  1.9  Iris-virginica       2
146  6.5  3.0  5.2  2.0  Iris-virginica       2
147  6.2  3.4  5.4  2.3  Iris-virginica       2
148  5.9  3.0  5.1  1.8  Iris-virginica       2

In [35]:
X = df.iloc[:,:4]

In [36]:
y = df.iloc[:,5]

In [37]:
y

0      0
1      0
2      0
3      0
4      0
      ..
144    2
145    2
146    2
147    2
148    2
Name: target, Length: 149, dtype: int32

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [39]:
sv = SVC(kernel='linear').fit(X_train, y_train)

0.9666666666666667